.mat-tab-group {
  margin-bottom: 48px;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #483d8b;
  background-color: white;
}
::ng-deep .mat-tab-list .mat-tab-labels {
  color: #483d8b;
  background-color: grey;
}
#title{
  font-size: 50px;
  width: 100%;
  color: white;

}

#header{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 0.5%;
  color: white;

}

#main{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 2.5%;

}
