.mat-tab-group {
  margin-bottom: 48px;
}
mat-tab{
  background-color: green;
}
#title{
  font-size: 50px;
  width: 100%;
}

#header{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 0.5%;
}

#main{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 2.5%;
}
