/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
html * {
    font-family: Raleway !important;
}
body {
  background-color: #483d8b ;
  overflow:auto;
  width: auto;
  height: auto;
}
