/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
html * {
    font-size: 1em !important;
    color: #000 !important;
    font-family: Raleway !important;
}