<div id="header">
  <button type="button" class="btn btn-outline-primary" style="margin-left: 95%;width: 5%;" routerLink="/login">
    LOGOUT
    </button>
  <label id="title">Aula {{aulaIndex}}</label>
  <label id="startnow">Bem-vindo a esta aula. Aqui você aprenderá melhor sobre a segurança da informação.</label>

  <div>
    <button type="button" class="btn btn-outline-primary" style="margin-left: 90%;width: 10%;" routerLink="/inicio">
Retornar ao menu inicial
</button>
</div>
</div>
<div id = 'main'>
  <video width="100%" height="53.43%" controls controlsList="nodownload">
    <source src="/assets/Aulas/Aula 1.mkv" type="video/mp4">
  </video>
</div>

